body {
  color: #444;
  font-family: sans-serif;
}

/* All of these tags (selectors) are groups so that we can
   edit their font in one go instead of in each ones style section */

/* h1,
h2,
h3,
h4,
p,
li {
  
  color: #444;
} */

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* We can use the # to reference id names */

/* footer p {
  font-size: 16px;
} */

#copyright {
  font-size: 16px;
}

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

.related {
  list-style: none;
}

/* The . is used to reference classes
    In the html doc we grouped the author <p> sections together */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/*   */

/* You can use something called pseudo-classes to have CSS automatically 
   determine some things on it's own, like how it found the "first-child" of the li
   property instead of us having to put them in their own class */

/* .first-li {
  font-weight: bold
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(even) {
   color: red; 
} */

/* Misconception: this won't work! 
   What really happens is it looks, in article, for any instance where <p> is the
   first child, which actually happens in the <div> container.*/
/* article p:first-child {
  color: red; 
}*/

/* Styling links: use "link" to target anchor element with links
   since anchor tag doesn't always have href attribute */
a:link {
  color: red;
  text-decoration: none; /* removes underline */
}

/* for after link has been used */
a:visited {
  color: #1098ad;
}

/* for when link is hovered over */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

/* for when link is clicked */
a:active {
  background-color: black;
  font-style: italic;
}

/* Always style links in this order ^ (LVHA) */
